<!--render 'partials/main_grid', locals={resource: @kite_spots}  -->
<!-- TODO - resize_to_limit set to actual size -->

<div class="row">
  <div class="col-12">
    <h2 class="text-center"><%= pluralize(resource.length, resource.name) %></h2>
  </div>
</div>


<div class="row">

  <% resource.each do |el| %>
    <div class="col-6 col-md-4 col-lg-3 mb-2">
      <h5><%= el.name %></h5>
      <% unless el.cover_photo.attachment.nil? %>
        <%= link_to image_tag(el.cover_photo.variant(resize_to_limit: [250, nil])), el %>
      <% else %>
        <%= link_to image_tag("//lorempixel.com/200/160/"), el %>
      <% end %>

    </div>
  <% end %>

</div>

