<!-- render 'partials/month_tag_selector', locals={month_tag_list: @kite_spot.month_tag_list} %> -->

<div class="btn-group flex-wrap" role="group" aria-label="Months">
  <% %w[Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec].each do |month| %>
    <% if month_tag_list.include? month %>
      <div class="btn btn-success"><%= month %></div>
    <% else  %>
      <div class="btn btn-secondary"><%= month %></div>
    <% end %>
  <% end %>
</div>