<!-- %= render 'partials/photo_gallery', locals={resource: @kite_spot} %> -->

<style>
  .grey-bg {
    background-color: #9ab;
  }
</style>

<div class="row">
  <% resource.header_photos.each do |photo| %>
    <div class="col p-0 grey-bg">
      <%= image_tag photo.variant(resize_to_fill: [550, 450]), class: 'img-fluid text-center' %>
    </div>
  <% end %>
</div>
