<!--<section class="hero py-5 py-lg-7">-->
  <!--<div class="position-relative container">-->
    <!--<nav class="" aria-label="breadcrumb">-->
      <!--<ol class="breadcrumb pl-0 justify-content-center">-->
        <!--<li class="breadcrumb-item"><a href="/">Home</a></li>-->
        <!--<li class="active breadcrumb-item" aria-current="page">Frequently asked questions</li>-->
      <!--</ol>-->
    <!--</nav>-->
    <!--<h1 class="hero-heading mb-5">F.A.Q.s</h1>-->
    <!--<div class="row">-->
      <!--<div class="mx-auto col-xl-8">-->
        <!--<p class="lead mb-0"></p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<section class="py-5">
  <div class="container">
    <nav class="" aria-label="breadcrumb">
      <ol class="breadcrumb pl-0 justify-content-center">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="active breadcrumb-item" aria-current="page">Frequently asked questions</li>
      </ol>
    </nav>

    <div class="py-4">
      <h2 class="mb-5 text-primary">Initial Questions</h2>
      <div class="row">

        <div class="col-md-6">
          <h5>Why should I sign up?</h5>
          <p class="text-muted mb-4">Currently it doesn't really do much. If you sign up, it's possible to see what spots are closest to you (OK not super-useful). However, the goal is for there to be more features, which will require knowing a little about you, the user.</p>
          <h5>What Kinds of Features?</h5>
          <p class="text-muted mb-4">Favourites could be useful. Or public lists (ie: "Winter getaways from Europe", or "Foiling in Asia"). Kite Schools/Gear rental is a big one (especially if you're travelling to learn). What about historical flight costs between you and a given site? Hotel/Hostel rates at a given destination? I'm sure there are other options.</p>
        </div>

        <div class="col-md-6">
          <h5>I have an Idea!</h5>
          <p class="text-muted mb-4">If you know what this site needs to be useful, please leave a comment through the
            <%= link_to 'contact', contact_path %> page. The goal is for this site to help people get on the water (or snow/ice), especially beginners, since it can be a difficult sport to get started with.</p>
          <h5>I manage a kite-related business</h5>
          <p class="text-muted mb-4">We'd love hear from you, really! Please use the <%= link_to 'contact', contact_path
          %> page to be in touch.</p>
        </div>

      </div>
    </div>


  </div>
</section>
