<!--TODO - favourites-->

<p>
  <a href="#" class="text-sm">
    <i class="fa fa-heart"></i>&nbsp;Save This Listing to Favourites
  </a>
</p>
<!--<p class="text-muted text-sm"><b>79</b> people Favourited this place </p>-->