<!-- %= render 'partials/photo_gallery', locals={photos: @resource.photos} %> -->
<!--TODO - responsive variants-->
<div class="row">
  <% photos.each do |photo| %>
    <div class="col p-0">
      <a href="<%= url_for(photo) %>" class="col"
         data-toggle="lightbox" data-type="image" data-gallery="lightbox-gallery">
        <%= image_tag photo.variant(resize_to_fill: [550, 450]), class: 'img-fluid text-center' %>
      </a>
    </div>
  <% end %>
</div>
