<%= render 'partials/sticky_filter_bar' %>
<br>

<div class="container">

  <%= render 'partials/main_grid', locals = {resource: @countries} %>

  <div class="navbar-light bg-light card paginate-pad">
    <%= paginate @countries %>
  </div>

</div>
