// Place all the styles related to the location_maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



#location_map {
  height: 50vh;
  width: 80%;
}

#global_location_map {
  height: 90vh;
  width: 100%;
}